.google-button {
    background-color: var(--finished-test-color);
    color: var(--background-color);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 32px; 
    border-radius: 8px; 
    border-style: none; 
    margin: 5px 0px; 
    padding: 0px 25px; 
    font-size: 14px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: all 300ms ease; 
}

.google-button:hover {
    transform: scale(1.05);
}

.google-button p {
    background-color: inherit;
    word-spacing: -3px;
    margin-bottom: 2px;
}

.google-logo {
    margin-right: 10px; 
    background-color: inherit;
}