.sign-in-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    height: 80%;
    align-items: center;
}

.close-sign-in {
    color: var(--close-settings-color); 
    position: absolute;
    height: 40px; 
    top: 200px; 
    right: 180px; 
    font-size: 40px; 
    cursor: pointer; 
    transition: all 300ms ease;
}

.close-sign-in:hover {
    color: var(--finished-test-color);
    transform: scale(1.05)
}

.register-container {
    display: flex; 
    flex-direction: column; 
    padding: 80px; 
}

.log-in-container {
    display: flex; 
    flex-direction: column;
    padding: 80px; 
}

.register-form {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
}

.sign-in-title {
    color: var(--finished-test-color);
    font-size: 22px; 
    margin-bottom: 10px; 
    text-align: center; 
    word-spacing: -5px; 
    /* font-weight: 600;  */
}

.register-form label {
    color: var(--finished-test-secondary-color); 
    width: 100%;
    margin: 5px 0px; 
}

.register-or {
    color: var(--finished-test-secondary-color);
    width: 5px; 
    margin: 5px 0px; 
    font-size: 15px; 
}

.form-input {
    color: var(--finished-test-secondary-color);
    background: var(--practice-code-background-color); 
    width: 350px; 
    height: 35px; 
    padding: 0px 20px; 
    border-radius: 8px; 
    margin: 5px 0px; 
    border-style: none;
    font-size: 13px; 
    word-spacing: -3px;
}

.form-submit {
    color: var(--background-color); 
    background: var(--finished-test-color);
    height: 32px; 
    padding: 0px 25px; 
    border-radius: 8px; 
    border-style: none; 
    margin-top: 10px; 
    margin-bottom: 5px; 
    word-spacing: -3px;
    font-size: 14px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: all 300ms ease; 
}

.form-submit:hover {
    transform: scale(1.05)
}

