.sign-in-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    height: 80%;
    align-items: center;
}

.close-sign-in {
    height: 40px; 
    color: #a1aebb67; 
    position: absolute;
    font-size: 40px; 
    top: 250px; 
    right: 350px; 
    cursor: pointer; 
    transition: all 300ms ease;
}

.close-sign-in:hover {
    color: #8b949c;
    transform: scale(1.05)
}

.register-container {
    display: flex; 
    flex-direction: column; 
    padding: 100px; 
}

.log-in-container {
    display: flex; 
    flex-direction: column;
    padding: 100px; 
}

.register-form {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
}

.sign-in-title {
    font-size: 22px; 
    color: #8b949c;
    margin-bottom: 10px; 
    text-align: center; 
    word-spacing: -5px; 
}

.register-form label {
    color: #606e7a; 
    width: 100%;
    margin: 5px 0px; 
}

.register-or {
    color: #606e7a;
    width: 5px; 
    margin: 5px 0px; 
    font-size: 15px; 
    /* border-style: solid; */
}

.form-input {
    background-color: #272630; 
    width: 350px; 
    height: 35px; 
    padding: 0px 20px; 
    border-radius: 8px; 
    margin: 5px 0px; 
    border-style: none;
    color: #606e7a;
    font-size: 13px; 
    word-spacing: -3px;
}

input::-webkit-credentials-auto-fill-button {
    color: white; 
}

.form-submit {
    background-color: #8b949c;
    color: #1d1c24; 
    height: 32px; 
    padding: 0px 25px; 
    border-radius: 8px; 
    border-style: none; 
    margin-top: 10px; 
    margin-bottom: 5px; 
    word-spacing: -3px;
    cursor: pointer; 
    transition: all 300ms ease; 
    font-size: 14px; 
}

.form-submit:hover {
    transform: scale(1.05)
}

