@font-face {
    font-family: 'consolas';
    src: url('../../Consolas.ttf')
}

.practice-code {
    display: flex; 
    height: 92%; 
    width: 100%; 
    flex-flow: column; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.practice-code-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1000px; 
    height: 300px; 
    color: #7c7896; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #2b2936; 
    transition: all 100ms ease; 
    padding: 40px; 
    z-index: 1; 
    cursor: pointer; 
}

.practice-code-container:hover .practice-code-click-to-start p {
    color: #c7d2ddbd;
}

.practice-code-click-to-start {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
    background-color: inherit; 
    margin-top: 40px; 
}

.practice-code-click-to-start p {
    font-size: 24px; 
    background-color: inherit;
    font-family: consolas; 
    color: #625f77;
    transition: all 300ms ease; 
}

#add-margin {
    margin-top: 80px; 
}

.practice-code-line {
    display: flex; 
    flex-direction: row; 
    background-color: inherit;
    margin: 10px; 
}

.practice-code-container:focus {
    color: transparent; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
}

.practice-code-cursor {
    background: #d4ceff; 
    font-size: 4px; 
    height: 32px; 
    transform: translateY(-3px);
    position: absolute; 
    z-index: 5;
    
}

.cursor-blinking {
    background: #cac6e6; 
    font-size: 4px; 
    height: 32px; 
    transform: translateY(-3px);
    animation: blink 1.5s steps(1) infinite;
    position: absolute; 
    z-index: 5;
}

.practice-code-text {
    background: inherit; 
    font-size: 24px; 
}

.tab-space {
    word-spacing: 10px; 
}

#text-index {
    color: #c9ddf1;
    transform: scale(0.3, 1.4)
}

#text-correct {
    color: rgba(255, 255, 255, 0.7); 
}

#text-wrong {
    color: #ff7962; 
}

#text-space-wrong {
    background-color: #ff796277; 
    transform: scale(1, 0.7);
    transform: translateY(-3px);
}

pre {
    background-color: inherit; 
    font-family: consolas; 
}

#practice-code-input {
    height: 0; 
    width: 0; 
    opacity: 0;
    /* margin-top: 40px; 
    padding: 10px 40px; 
    background-color: #2b2936; 
    border-radius: 8px; 
    border-style: none;
    color: #7c7896; 
    font-family: consolas, sans-serif; 
    font-size: 22px; 
    resize: none;  */
}

.toggle-status-bar {
    background-color: inherit;
    border-style: none; 
    color: #454157;
    padding: 8px; 
    font-size: 18px; 
    font-family: consolas; 
    word-spacing: -4px; 
    transform: translateX(-450px);
    cursor: pointer; 
    transition: all 200ms ease; 
}

.toggle-status-bar:hover {
    color: #5f5b72;
}

.placeholder-status-bar {
    display: flex; 
    width: 920px; 
    height: 60px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #2b2936; 
    padding: 0px 80px; 
    padding-top: 1px; 
}
