.under-bar-container {
    background: var(--underbar-background-color); 
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    width: 1000px; 
    height: 60px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 300ms ease; 
    padding: 0px 40px; 
}

.under-bar-item {
    display: flex; 
    background-color: inherit;
    justify-content: center;
    align-items: center;
    height: 60%; 
    font-size: 16px;   
}

#wpm {
    width: 70px; 
}

#accuracy {
    width: 150px; 
}

#time {
    width: 100px;
}

.under-bar-setting {
    background: inherit;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 100px; 
    height: 100%;
}

.under-bar-setting:hover .under-bar-drop-down, .under-bar-drop-down:hover {
    display: flex; 
}

.selected-setting {
    text-decoration: underline;
}

.under-bar-drop-down {
    background: inherit; 
    display: none;
    flex-direction: column; 
    transform: translate(3px, 90px);
    position: absolute;
    padding: 5px; 
}

#custom-drop-down {
    transform: translateY(60px);
}

.drop-down-button {
    color: var(--drop-down-button-color); 
    background: inherit; 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    height: 30px; 
    width: 140px; 
    padding: 5px 20px; 
    font-family: inherit; 
    border-style: none; 
    border-radius: 6px; 
    cursor: pointer;  
    font-size: 12px; 
}

.drop-down-button p {
    background-color: inherit;
    font-size: inherit; 
}

.drop-down-check {
    background-color: inherit;
    position: absolute;
    transform: translateX(-100px)
}

.drop-down-button:hover {
    background: var(--drop-down-button-hover-color);
}

.under-bar-label {
    color: var(--underbar-color);
    background: inherit;
    margin: 5px;
}

.under-bar-value {
    color: var(--underbar-value-color); 
    background-color: inherit;
    margin: 5px; 
    cursor: default; 
}

