.header {
  background: var(--header-background-color); 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;
  min-width: 1200px; 
  height: 9%;
  padding-top: 1%; 
}

.title {
  display: flex; 
  background: inherit; 
  margin-left: 100px; 
  flex-grow: 3; 
  font-size: 20px; 
}

.title-text {
  background: inherit;
  color: var(--header-color);
  text-decoration: none;
  word-spacing: -10px;
}

.title-text:hover {
  color: var(--header-hover-color)
}

.title-text h2 {
  background-color: inherit; 
}

.button {
  color: var(--header-color);
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  height: 60%;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: all 300ms ease;
  margin: 0px 5px;
}

.button-text {
  background: inherit;
}

.navbar-button {
  display: flex;
  height: 100%;
  transition: all 300ms ease; 
}

.navbar-link {
  display: flex;
  padding: 0px 20px; 
  height: 92%;
  transition: all 200ms ease;
}

.navbar-button:hover, .navbar-link:hover {
  color: var(--header-hover-color);
  border-bottom: solid var(--header-hover-color) 4px;
}

.navbar-button:hover .button-under-line {
  display: flex;
}

.sign-up-link {
  background-color: var(--header-color);
  color: var(--background-color);
  display: flex; 
  align-items: center;
  padding: 0 25px; 
  height: min(55%, 45px);
  min-width: 80px; 
  margin-right: 100px;
  margin-left: 30px;
  border-radius: 10px;
  transition: all 500ms ease;
  word-spacing: -5px;
}

.sign-up-link:hover {
  transform: scale(1.05);
}
