.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2936;
    border-bottom: solid;
    border-bottom-width: 0px;
    border-color: #c0d7ee83;
    min-height: 70px; 
    height: 8%;
}

.title {
    background-color: inherit;
    margin-left: 100px;  
    margin: 100px; 
    color: #a1aebb;
    word-spacing: -10px; 
    flex-grow: 2; 
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    color: #a1aebb;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    height: 100%; 
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;  
    transition: all 300ms ease; 
    margin: 0px 5px; 
}

.button-text {
    background: inherit; 
}

.navbar-button {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    transition: all 300ms ease; 
}

/* .button-under-line {
    display: none;
    background-color: #c7d5e2;
    width: 100%; 
    height: 2px; 
    padding: 0px 15px; 
    transform: translateY(27px);
    transition: all 300ms ease; 
} */

.navbar-button:hover {
    color: #c7d5e2;
    border-bottom-style: solid; 
    border-bottom-width: 0.1cm; 
    border-bottom-color: #c7d5e2;
}

.navbar-button:hover .button-under-line {
    display: flex; 
}


.sign-up-button {
    background-color: #6a687e;
    color: #2b2936;
    height: 45px; 
    margin-right: 100px; 
    margin-left: 30px; 
    border-radius: 10px; 
    transition: all 500ms ease; 
    font-size: 15px; 
    word-spacing: -5px; 
}

.sign-up-button:hover { 
    transform: scale(1.1); 
    color: #c0d7ee;
}
