.panel {
    /* background-color: rgba(0, 0, 0, 0.1);  */
    background: none; 
    backdrop-filter: blur(5px);
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: absolute; 
    z-index: 100; 
}

.languages-panel {
    background-color: var(--languages-panel-background-color);
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    border-radius: 15px; 
    width: 600px; 
    height: 550px; 
    padding: 10px; 
    font-family: 'Space Mono', monospace;
}

.form {
    font-family: 'Space Mono', monospace;
    background-color: var(--languages-panel-color);
    width: 90%; 
    margin-top: 20px; 
    margin-bottom: 26px; 
    border-radius: 8px; 
    padding: 5px; 
    padding-left: 20px; 
    transition: all 300ms ease;
}

.form:hover {
    transform: scale(1, 1.07);
}

::placeholder {
    color: var(--placeholder-color);
}

.search-bar {
    background-color: inherit;
    border-style: none; 
    font-size: 16px; 
    color: var(--placeholder-color);
    display: flex; 
    width: 100%; 
    height: 30px;  
}

.search-suggestions {
    background-color: inherit;
    width: 100%; 
    margin-bottom: 26px; 
    display: grid; 
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto; 
    grid-gap: 26px 16px; 
}

.preferred-language-btn {
    background-color: var(--languages-panel-color); 
    color: var(--languages-panel-background-color); 
    width: 170px; 
    height: 60px; 
    border-radius: 8px;
    transition: all 300ms ease; 
}

.preferred-language-btn:hover {
    transform: scale(1.03);
}

.languages-list-before {
    background: var(--languages-panel-bar-color); 
    height: 20px; 
    width: 554px; 
    border-radius: 5px; 
}

.languages-list {
    background: inherit; 
    display: flex; 
    flex-direction: column; 
    width: 562px;
    margin-bottom: 20px; 
    overflow: hidden; 
    overflow-y: scroll; 
    scroll-behavior: smooth;
}

.listed-language {
    background: inherit; 
    color: var(--languages-panel-color);
    display: flex; 
    justify-content: flex-start;
    width: 100%; 
    padding: 12px; 
    padding-left: 26px; 
    border-style: none; 
    border-radius: 8px;
    font-family: 'Red Hat Mono', sans-serif; 
    font-size: 16px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: all 300ms ease;
}

.listed-language:hover {
    background: var(--practice-code-background-color);
}

