@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Nunito+Sans&family=Quicksand&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;600&display=swap');

* {
  background-color: #2e2d3a;
  font-family: 'Red Hat Mono', monospace;
  margin: 0; 
  padding: 0;  
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html, 
body, 
#root,
.App {
  height: 100%; 
}
